on property:sys.boot_completed=1
    chown root system /sys/class/devfreq/ff9a0000.gpu/governor
    chmod 0666 /sys/class/devfreq/ff9a0000.gpu/governor
    chown root system /sys/class/devfreq/ff9a0000.gpu/min_freq
    chmod 0666 /sys/class/devfreq/ff9a0000.gpu/min_freq
    chown root system /sys/class/devfreq/ff9a0000.gpu/max_freq
    chmod 0666 /sys/class/devfreq/ff9a0000.gpu/max_freq
    chown root system /sys/class/devfreq/dmc/governor
    chmod 0664 /sys/class/devfreq/dmc/governor
    #HDMI CEC
    chown root system /dev/cec0
    chmod 0664 /dev/cec0

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 0
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor interactive
    write /sys/class/devfreq/dmc/governor dmc_ondemand

    # For usb power manager
    chmod 0666 /sys/kernel/debug/fe800000.dwc3/hub_vbus
    chmod 0666 /sys/kernel/debug/fe900000.dwc3/hub_vbus
    chmod 0666 /sys/class/typec/port0/port_type

    trigger sys-boot-completed-set

# We want one opportunity per boot to enable zram, so we
# use a trigger we fire from the above stanza. If
# persist.sys.zram_enabled becomes true after boot,
# we don't want to run swapon_all at that time.
on sys-boot-completed-set && property:persist.sys.zram_enabled=1
    swapon_all /vendor/etc/fstab.${ro.hardware}.${ro.boot.storagemedia}

on early-boot
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

on boot
    chown system system /sys/class/thermal/thermal_zone0/policy
    chown system system /sys/class/thermal/thermal_zone1/policy
    chown system system /sys/class/thermal/thermal_zone2/policy

    # backlight
    chown system system /sys/class/backlight/panel_backlight-0/brightness
    chown system system /sys/class/backlight/panel_backlight-1/brightness


    # update cpusets feature nodes for rk3399 tablet
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/foreground/boost/cpus 4-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-5
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/target_loads "65 1008000:70 1200000:75 1416000:80 1608000:90"
    #ioprio rt 4

    # reduce schedul time to improve io performance
    write /sys/kernel/debug/sched_features NO_ENERGY_AWARE

    # for bmp splash (partition 13; mmc1 = SD, mmc2 = eMMC per rk3399.dtsi aliases)
    chmod 0666 /dev/block/mmcblk2p13
    chmod 0666 /dev/block/mmcblk1p13

# For 40 pin gpio
    chmod 0666 /sys/class/gpio/export
    chmod 0666 /sys/class/gpio/unexport

# For 40 pin PWM
    chmod 0666 /sys/class/pwm/pwmchip0/export
    chmod 0666 /sys/class/pwm/pwmchip0/unexport
    chmod 0666 /sys/class/pwm/pwmchip1/export
    chmod 0666 /sys/class/pwm/pwmchip1/unexport
    chmod 0666 /sys/class/pwm/pwmchip3/export
    chmod 0666 /sys/class/pwm/pwmchip3/unexport

    # For RTC0 wakealarm
    chmod 0666 /sys/devices/platform/ff3c0000.i2c/i2c-0/0-001b/rk808-rtc/rtc/rtc0/wakealarm

on init
    chown root root /sys/class/devfreq/dmc/system_status
    chmod 0666 /sys/class/devfreq/dmc/system_status

    # led
    start vendor.led

on post-fs-data

    #CABC
    chown root system /sys/class/graphics/fb0/cabc
    chmod 0664 /sys/class/graphics/fb0/cabc

service cpu_gpu_utility /vendor/bin/cpu_gpu_utility.sh
    class main
    user root
    group root
    disabled
    oneshot

service vendor.led /vendor/bin/led.sh
    class main
    user root
    group root
    disabled
    oneshot

on property:vendor.boot_completed=1
    start cpu_gpu_utility
